.notification {
  padding: 15px;
  margin: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  min-width: 250px;
}

.success {
  background-color: #4caf50;
}
.info {
  background-color: #2196f3;
}
.warning {
  background-color: #ff9800;
}
.error {
  background-color: #f44336;
}

.close-btn {
  margin-left: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.notification-container {
  position: fixed;
}
.top-right {
  top: 20px;
  right: 20px;
}
.top-left {
  top: 20px;
  left: 20px;
}
.bottom-right {
  bottom: 20px;
  right: 20px;
}
.bottom-left {
  bottom: 20px;
  left: 20px;
}

.fade {
  animation: fadeOut 0.5s forwards;
}

.slide {
  animation: slideOut 0.5s forwards;
}

.pop {
  animation: popOut 0.5s forwards;
}

/* Fade Out */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

@keyframes popOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}
